<h1>New <%= model_class %></h1>

<a data-type="back">Back</a>

<form>
  <% fields.each do |field| %>
  <label>
    <span><%= field.titleize %></span>
    <input 
      type="text" name="<%= field %>" 
      value="<%%= @<%= field %> %>" required
      <%- if field == fields[0] %> autofocus<% end %>>
      <br />
  </label>
  <% end %>
  <button>Create</button>

</form>